adium-theme-ubuntu==0.3.4
alabaster==0.7.7
astroid==1.5.3
Babel==1.3
backports.functools-lru-cache==1.4
beautifulsoup4==4.4.1
bitarray==0.8.1
BlinkStick==1.1.7
chardet==2.3.0
configparser==3.5.0
cryptography==1.2.3
cycler==0.9.0
Cython==0.23.4
decorator==4.3.0
docutils==0.12
enum34==1.1.6
evdev==0.4.7
future==0.15.2
futures==3.0.5
h5py==2.6.0
html5lib==0.999
idna==2.0
ipaddress==1.0.16
ipython==2.4.1
isort==4.2.15
Jinja2==2.8
joblib==0.12.5
lazy-object-proxy==1.3.1
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.6.1
meld==3.14.2
naturalneighbor==0.2.1
ndg-httpsclient==0.4.0
netifaces==0.10.4
networkx==2.2
notify2==0.3
numpy==1.15.4
Odemis==3.0.7
odemis-jeol==1.3.1
pathlib2==2.3.2
pexpect==4.0.1
Pillow==8.1.1
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.1.9
pycairo==1.16.2
Pygments==2.1
pygobject==3.20.0
pylibtiff==0.4.4.dev0+unknown
pylint==1.7.4
pyOpenSSL==0.15.1
pyparsing==2.0.3
PyPubSub==3.3.0
Pyro4==4.18
pyserial==3.0.1
python-dateutil==2.4.2
pytz==2014.10
pyusb==1.0.0b2
pyxdg==0.25
PyYAML==3.11
pyzmq==15.2.0
requests==2.9.1
roman==2.0.0
scandir==1.9.0
scipy==0.17.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
suds-jurko==0.7.dev0
typing==3.6.6
unity-lens-photos==1.0
urllib3==1.13.1
wrapt==1.10.11
wxPython==4.0.4
wxPython-common==3.0.2.0
